.emailSubContainer {
    padding-inline: 20px;
    text-align: center;
    margin-top: 4em;
    border-bottom: 8px solid var(--nav);
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}