@use '/styles/_mixins.scss' as *;

.faq_container {
    margin-top: 3em;

    @include devices(tablet) {
        padding-inline : 40px;
    }

    @include devices(desktop) {
        padding-inline : 200px;
    }

    h2 {
        text-align: center;
    }

    .accordion {
        background-color: var(--nav);
        color : white;
        margin-bottom: .5em;
        border-radius: 0;

        @include devices(desktop) {
            padding : 10px;
        }
    }

    .faq_text {
        font-size: 1.2em;

        @include devices(desktop) {
            font-size: 1.6em;
        }
    }
}