/* fonts */
@use '/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* root */
:root {
  --button-color : #e50914;
  --nav : #303030; 
}

// global styles
.main__button {
  width : 100px;
  padding : 5px;
  background-color: var(--button-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.start__button {
  padding : 10px;
  width : 140px;
  height : 40px;
  font-size: 1rem;
}

.form {
  background-color: white;
  width : 100%;  
  margin-bottom: 10px;
}

.form_sub {
  
  @include devices(tablet) {
    width: 70%;
  }
}

.form_lang_selection {
  width : 100%;

  select {
      width : 100%;
      background-color: transparent;
      border: 1px solid #fff;
      padding : 5px;
      
      option {
          background-color: var(--nav);
      }
  }
}

.form_footer {
  margin-top: 2em;
  width: 200px;

  select {
    padding : 15px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
